QWidget#MotorFunPage {
    background: qlineargradient(
        x1:0, y1:0, x2:0, y2:1,
        stop:0 #002454,   /* deep mauve */
        stop:1 #FAC01A    /* light purple */
    );
}

QLabel#Title {
    color:#FFFFFF;
    font:600 60px "Roboto";
}